<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-app="myApp">
		<div ng-controller="firstController">
			<input type="text" ng-model="data.name">
			{{data.name}}
		</div>
		<div ng-controller="secondController">
			<input type="text" ng-model="data.name">
			{{data.name}}
		</div>
		
	</div>


	<script src="../angular-1.2.18/angular.js"></script>
	<script src="./app/04-test.js"></script>
</body>
</html>