<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="header">
        <div id="login">
          <a href="/users/login">登陆</a> | <a href="/users/regist">注册</a>
        </div>
      </div>
      <h1>Welcome  <%=username?username:"游客"%></h1>
  </body>
</html>
