<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/users/checklogin" method="post">
    <p>
        用户名：<input type="text" name="username"/>
    </p>
    <p>
        密码：<input type="password" name="psd"/>
    </p>
    <p>
        <input type="submit" value="登陆"/>
    </p>
</form>
</body>
</html>