<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/users/checkRegist" method="post">
    <p>
        用户名：<input type="text" name="username" id="userName"/>
    </p>
    <p>
        密码：<input type="password" name="psd"/>
    </p>
    <p>
        确认密码：<input type="password" name="confirmPsd"/>
    </p>
    <p>
        <input type="submit" value="注册"/>
    </p>
</form>
<script src="/javascripts/jquery-1.12.4.js"></script>
<script>
    $(function(){
        $('#userName').on('blur',function(){
            var that = this;
            //url, data, callback, dataType
            $.get("/users/checkUser",{
                username:this.value
            },function(date){
                if(date=="成功"){
                    $("<span><img src='/images/未标题-1.png' height='16px'/></span>").insertAfter(that);
                }else if(date=="失败"){
                    $("<span>X</span>").insertAfter(that);
                }
            },'text');
        }).on('focus',function(){
            $(this).siblings().remove();
        });
    });
</script>
</body>
</html>