@charset "UTF-8";
body {
    background-color: #fff;
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
}
#one-page{
    width: 100%;
    position: relative;
    margin-bottom: 4.266667rem;
}
#card{
    width:100%;
    height: 6.57778rem;
    position: relative;
}
#pic-show{
    width: 100%;
    height: 17.95555rem;
    background-color: #7a8fae;
    border-bottom: 0.088888rem solid #E6E6E6;
    margin-top: 4.35556rem;
}
#pic-show img{
    width: 100%;
    height: 17.95555rem;
}
#teacher-pic{
    float: left;
    width: 6.57777rem;
    height: 6.57777rem;
    background-color: #666666;
    border-radius: 50%;
    margin-right:1.3333rem;
    margin-left: 0.8888rem;
    border: 0.088888rem solid #E6E6E6;
    position: absolute;
    top:-13.5135%;
    overflow: hidden;
}
#teacher-pic img{
    width: 6.57777rem;
    height: 6.57777rem;
}
#message{
    height: 100%;
}
#base{
    position: relative;
    height: 100%;
    line-height: 1.4222rem;
}
#base span{
    margin-right: 0.62222rem;

}
#name{
    position: absolute;
    top: 12.1621%;
    left: 8.8888rem;
    height: 1.42222rem;
    line-height: 1.42222rem;
}
#name span{
    display: inline-block;
    float: left;
}
#approve{
    position: absolute;
    top: 43.2432%;
    left: 8.8888rem;
    float: left;
}
#approve span img{
    width: 1.6rem;
    float: left;
    height:1.42222rem;
}
#motto{
    position: absolute;
    top: 74.3243%;
    left: 8.8888rem;
}
#code{
    float: right;
    position: absolute;
    top:1.24444rem;
    right: 2.77778%;
}

.basic{
    width: 95.83333%;
    margin-top: 1.15555rem;
    padding-left: 1.33333rem;
    margin-bottom: 1.33333rem;
}
.basic .caption{
    color: #515151;
    font-size: 1.24444rem;
    line-height: 1.6rem;
    float: left;
    text-align: justify;
}
.grade-message table{
    margin-right: 1.3333rem;
}
.basic td{
    font-size: 1.24444rem;
    color: #656565;
    line-height: 1.6rem;
    padding-left: 1.33333rem;
}
.grade-message{
    margin-bottom: 1.3333rem;
}
#teach-method span{
    display: inline-table;
    background: #f0996f;
    color: #fff;
    height: 2.13333rem;
    border-radius: 1.06666rem;
    line-height: 2.13333rem;
    text-align: center;
    font-size: 1.24444rem;
    margin-left: 0.33333rem;
}
#teach-method span:nth-child(2){
    width: 4.44444rem;
}
#teach-method span:nth-child(3){
    width: 5.77778rem;
}
.honor{
    padding-left: 1.33333rem;
    padding-right: 1.77778rem;
    width: 90.27778%;
    height: 5.6rem;
    border-bottom: 0.08889rem solid #E6E6E6;
    position: relative;
}
.honor div{
    float: left;
    position: absolute;
    top: 25.396825%;
}
.honor h1:nth-child(1){
    font-size: 1.25rem;
    color: #515151;
    margin-bottom: 0.44444rem;
}
.honor h6:nth-child(2){
    font-size: 1.06667rem;
    color: #787878;
}
.honor img{
    width:12.2222%;
    height: 2.66667rem;
    float: right;
    position: absolute;
    right: 1.77778rem;
    top: 25.396825%;
}

