@charset "UTF-8";

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

body {
    background-color: #f5f5f5;
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
}

img {
    vertical-align: middle;
    border: 0
}

a {
    text-decoration: none;
    color: #000;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

/*header*/
#header {
    width: auto;
    height: 4.2666rem;
    background-color: #2c93e0;
    padding: 0 1.3333rem;
    line-height: 4.2666rem;
}

#header .container {
    width: 100%;
}

#header .arrow, #header .arrow a, #header .h2 {
    height: 100%;
    width: 33.3333%;
    display: block;
    font-size: 1.6rem;
    color: #fff;
}

#header .arrow img {
    width: 0.88888rem;
    height: 1.5111rem;
}

#header .h2.login {
    text-align: center;
    font-size: 1.6rem;

}

#header .h2.register {
    text-align: right;
    font-size: 1.42rem;
}

#header .h2 a {
    color: #fff;
}

#header .h2 img {
    width: 0.8rem;
    height: 0.44rem;
    margin-left: 0.44rem;
}

#header .fr img {
    width: 1.87rem;
    height: 1.87rem;
}

.Pcontainer {
    width: 100%;
    height: 7.1rem;
    border-bottom: 0.089rem solid #E6E6E6;
    position: relative;
    background: white;

}

.Pcontainer .people {
    position: absolute;
    left: 1.33rem;
    top: 1.78rem;

}

.peopleOne {
    font-size: 1.42rem;
    color: #636363;
}

.peopleTwo {
    font-size: 1.24rem;
    color: #636363;
    margin-top: 1.33rem;
}

.Pcontainer .arrow img {
    width: 0.89rem;
    height: 1.51rem;
    position: absolute;
    right: 1.33rem;
    top: 2.67rem;
}

.select {
    width: auto;
    padding: 0 1.33rem;
    height: 3.56rem;
    line-height: 3.56rem;
    border-bottom: 0.089rem solid #E6E6E6;
    background: white;

}

.select .selectContainer {
    width: 100%;
}

.selectContainer .onselectOne, .selectContainer .onselectThree {
    width: 30%;
    float: left;
}

.selectContainer .onselectTwo {
    width: 40%;
    float: left;
}

.selectContainer .onselectOne img {
    width: 1.956rem;
    height: 1.956rem;
}

.selectContainer .onselectOne .sk {
    display: inline-block;
    margin-left: 0.89rem;
    font-size: 1.067rem;
    line-height: 1.067rem;
    color: #2C93E0;
}

.selectContainer .onselectTwo {
    text-align: right;
}

.selectContainer .onselectThree {
    text-align: center;
}

.selectContainer .ed, .selectContainer .delete {
    display: inline-block;
    font-size: 1.067rem;
    line-height: 1.06rem;
    color: #636363;
    margin-left: 0.44rem;
}

.selectContainer .onselectTwo img, .selectContainer .onselectThree img {
    width: 1.956rem;
    height: 1.956rem;
}

.two {
    margin-top: 0.89rem;
    border-top: 0.089rem solid #E6E6E6;
    border-bottom: 0.089rem solid #F0F0F0;

}

 .selecttwo .selectContainer .sk {
    color: #636363;
}

 .footer{
     width: 100%;
     height: 4.27rem;
     position: fixed;
     bottom: 0;
     background: #2c93e0;
     font-size: 1.6rem;
     color: #FFFFFF;
     text-align: center;
     line-height: 4.27rem;
 }

